.hidden
{
    display: none;
}

.reappear
{
    display: url(blobFish.jpg) ;/*este codigo me dijo agregar la imagen del blobfish de nuevo */
}

.schoolSpecial
{
    font-family: fantasy;
    font-size: 20px;
    line-height: 1.6;
    color: currentColor;

}

/*Esta clase es para hacer que mi web page este centrado*/
.content-wrapper {
    
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }