.hidden
{
    display: none;
}

.reappear
{
    display: url(blobFish.jpg) ;/*este codigo me dijo agregar la imagen del blobfish de nuevo */
}

.schoolSpecial
{
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    line-height: 1.6;
    color: currentColor;

}

/*Esta clase es para hacer que mi web page este centrado*/
.content-wrapper {
    background-color: khaki;
    display:block;
    margin: auto;
    max-height: 500px;
    max-width: 500px;

  }

  .centerIt {text-align: center;}

  